@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jua+Placeholder&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope+Placeholder&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

/* Home Section */

#home {
  display: flex;
  flex-direction: column;
  height: 830px;
  position: relative;
  background-image: linear-gradient(
    to right,
    rgb(183, 232, 231),
    rgb(104, 228, 219),
    rgb(0, 216, 205)
  );
}
.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  padding: 12px 20px;
}
.logo img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.menu1 {
  display: flex;
}
.menu1 li {
  margin-left: 10px;
}
.menu1 li a {
  display: inline-block;
  padding: 4px 10px;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  text-align: center;
  font-size: 15px;
  font-family: "Manrope", sans-serif;
  position: relative;
}
.menu1 li a:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}
.menu {
  display: flex;
}
.menu li {
  margin-right: 12px;
}
.menu li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: "Manrope", sans-serif;
  transition: 0.15s ease-in-out;
  position: relative;
}
.menu li a:hover {
  color: black;
}
.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.5px;
  background-color: white;
  transition: 0.25s ease-in-out;
}
.menu li a:hover:after {
  width: 100%;
}
.open-menu,
.close-menu {
  position: absolute;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
.open-menu {
  top: 30%;
  right: 15px;
}
.close-menu {
  top: 20px;
  right: 20px;
}
#check {
  display: none;
}
@media (max-width: 620px) {
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: black;
    transition: all 0.2s ease-in-out;
  }
  .menu li {
    margin-top: 40px;
  }
  .menu li a {
    padding: 10px;
  }
  .open-menu,
  .close-menu {
    display: block;
  }
  #check:checked ~ .menu {
    right: 0;
  }
}
#home .header-text {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: translateY(130%);
}

#home .header-text h1 {
  font-size: 60px;
  font-family: "Roboto", sans-serif;
}
#home .header-text p {
  padding: 20px;
  font-size: 30px;
  color: rgb(50, 49, 49);
}
#home .videoTag {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

/* About Section  */

#about {
  height: 100%;
  margin-top: 90px;
}
#about .content .about_main_heading {
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  color: rgb(27, 119, 223);
  font-family: sans-serif;
}
#about .content .about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  margin: 0px 180px;
}
#about .content .about-content p {
  font-size: 23px;
  font-weight: bold;
  padding: 15px;
  font-family: "Manrope", sans-serif;
}
#about .content .about-content .image-section {
  margin: 35px;
}
#about .content .about-content .image-section img {
  height: 500px;
  width: 330px;
  border-radius: 20px;
  box-shadow: 2px 2px 6px black;
}

/* Why To Choose Section */

#why-choose-us {
  height: 100%;
  margin: 90px 0px;
  display: flex;
  flex-direction: column;
  position: relative;
}
#why-choose-us::before {
  content: "";
  position: absolute;
  height: 102%;
  width: 100%;
  z-index: -1;
}
#why-choose-us .section-title {
  margin: 40px;
  text-align: center;
  font-size: 60px;
  text-shadow: 2px 2px 2px rgb(0, 223, 211);
  font-family: sans-serif;
}
#why-choose-us .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
  margin: 30px 50px;
  transition: 1s;
  cursor: pointer;
  border: 2px solid rgb(1, 179, 170);
  border-radius: 25px;
}
/* #why-choose-us .content-wrapper:hover{
    transform: scale(1.2);
    z-index:2;
} */
#why-choose-us .content-wrapper .content-why_to_choose_us {
  width: 600px;
  padding: 30px;
  margin: 0px 10px;
}
#why-choose-us .content-wrapper .content-why_to_choose_us .content-title {
  text-align: left;
  padding-bottom: 40px;
  font-size: 35px;
  font-weight: lighter;
  font-style: normal;
  font-family: "Manrope", sans-serif;
}
#why-choose-us .content-wrapper .content-why_to_choose_us .content-text {
  font-size: 20px;
  color: white;
  line-height: 1.5;
  font-weight: 40;
  font-family: "Manrope", sans-serif;
  color: rgb(1, 179, 170);
}
#why-choose-us .content-wrapper .image img {
  height: 400px;
  width: 400px;
  border-radius: 40px;
  box-shadow: 5px 5px 10px 3px white;
}
#why-choose-us .content-wrapper-alternate {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
  margin: 50px 50px;
  transition: 1s;
  cursor: pointer;
  border: 2px solid rgb(1, 179, 170);
  border-radius: 25px;
}
/* #why-choose-us .content-wrapper-alternate:hover{
    transform: scale(1.2);
    z-index:2;
} */
#why-choose-us .content-wrapper-alternate .content-why_to_choose_us {
  width: 600px;
  padding: 50px;
}
#why-choose-us
  .content-wrapper-alternate
  .content-why_to_choose_us
  .content-title {
  text-align: left;
  padding-bottom: 40px;
  font-size: 35px;
  font-weight: lighter;
  font-style: normal;
  font-family: "Manrope", sans-serif;
}
#why-choose-us
  .content-wrapper-alternate
  .content-why_to_choose_us
  .content-text {
  font-size: 20px;
  color: white;
  line-height: 1.5;
  font-weight: 40;
  font-family: "Manrope", sans-serif;
  color: rgb(1, 179, 170);
}
#why-choose-us .content-wrapper-alternate .image img {
  height: 400px;
  width: 400px;
  border-radius: 40px;
  box-shadow: 5px 5px 10px 3px white;
}

/* Services Section */

#services {
  height: 100%;
  margin: 90px 0px;
  display: flex;
  background-image: radial-gradient(
    circle,
    rgb(138, 246, 217),
    rgb(0, 207, 196),
    rgb(0, 216, 205)
  );
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  font-family: sans-serif;
}
#services .service-h {
  margin-top: 0px;
  padding-top: 60px;
  text-align: center;
  font-size: 70px;
  text-shadow: 2px 2px 2px white;
}
/* #services .rows_services {
    flex-shrink: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    max-width: 1000px;
    overflow: hidden; 
    position: relative;
    padding: 30px;
    align-content: center;
    flex-wrap: nowrap;
    gap: 26px; 
    border-radius: 0px 0px 0px 0px;
  } */
#services .rows_services {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 40px 0px;
}
#services .rows_services .click {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 30%;
  height: min-content; /* 120px */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 10px; /* Adjusted padding */
  /* box-shadow: 0.39809593676181976px 0.39809593676181976px 0.5629926728941875px -0.3125px rgba(0, 0, 0, 0.27), 1.207253071552259px 1.207253071552259px 1.7073136670057811px -0.625px rgba(0, 0, 0, 0.31036), 3.1913267607422307px 3.1913267607422307px 4.51321758700586px -0.9375px rgba(0, 0, 0, 0.40957), 10px 10px 14.142135623730951px -1.25px rgba(0, 0, 0, 0.75); */
  /* background-color: #f26419; */
  position: relative;
  align-content: center;
  flex-wrap: nowrap;
  gap: 40px;
  text-decoration: none;
  /* border-radius: 20px; */
  /* transition: transform 0.5s cubic-bezier(0.44, 0, 0.26, 1); */
  /* cursor: pointer; */
}
#services .rows_services .click .card {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 95%;
  /* height: 400px; */
  flex-direction: row;
  padding: 10px; /* Adjusted padding */
  margin: 10px;
  box-shadow: 8px 8px 28px 3px black;
  background-color: white;
  position: relative;
  align-content: center;
  flex-wrap: wrap;
  gap: 40px;
  border-radius: 20px;
  transition: transform 0.5s cubic-bezier(0.44, 0, 0.26, 1);
  cursor: pointer;
}
#services .rows_services .click .card:hover {
  transform: scale(0.8);
  z-index: 2;
}
#services .rows_services .click .card .imge {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
#services .rows_services .click .card .imge img {
  height: 250px;
  width: 200px;
  border-radius: 10px;
}
#services .rows_services .click .card .card-content {
  padding: 8px 20px;
}
#services .rows_services .click .card .card-content .card-title {
  color: black;
  font-size: 20px;
  font-style: normal;
  font-family: "Manrope", "Manrope Placeholder", sans-serif;
}
#services .rows_services .click .card .card-content .card-text {
  padding: 20px 0px;
  font-size: 16px;
  color: rgb(1, 179, 170);
  font-family: "Manrope", sans-serif;
}

/* Testimonial Section */

#testimonials {
  font-family: "Jua", "Jua Placeholder", sans-serif;
  height: 100%;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  position: relative;
}
#testimonials::before {
  content: "";
  background-image: radial-gradient(
    circle,
    rgb(138, 246, 217),
    rgb(0, 207, 196),
    rgb(0, 216, 205)
  );
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}
#testimonials .testimonials-heading {
  text-align: center;
  font-size: 70px;
  text-shadow: 2px 2px 2px white;
  margin-top: 60px;
  font-family: sans-serif;
}
#testimonials .testimonials-container {
  display: flex;
  margin: 80px;
  align-items: center;
  justify-content: center;
}
#testimonials .testimonials-container .testimonial-card {
  box-shadow: 8px 8px 28px 3px black;
  background-color: white;
  border-radius: 20px;
  height: 350px;
  width: 290px;
  padding: 10px;
  margin: 20px;
  font-size: 19px;
  transition: 1s;
  cursor: pointer;
}
#testimonials .testimonials-container .testimonial-card:hover {
  transform: scale(1.2);
  z-index: 2;
}
#testimonials .testimonials-container .testimonial-card .testimonial-info {
  display: flex;
}
#testimonials .testimonials-container .testimonial-card .testimonial-info img {
  padding: 10px;
  height: 65px;
  width: 65px;
  border-radius: 50%;
}
#testimonials .testimonials-container .testimonial-card .testimonial-details {
  padding: 10px 7px;
}
#testimonials
  .testimonials-container
  .testimonial-card
  .testimonial-details
  .testimonial-name {
  font-size: 20px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}
#testimonials
  .testimonials-container
  .testimonial-card
  .testimonial-details
  .testimonial-position {
  color: rgb(77, 77, 77);
  font-size: 14px;
  font-family: "Inter", sans-serif;
}
#testimonials .testimonials-container .testimonial-card .testimonial-text {
  font-size: 16px;
  line-height: 30px;
  margin: 10px;
  padding: 5px;
  color: rgb(77, 77, 77);
  font-family: "Inter", sans-serif;
}

/* Contact Section */

#contact {
  height: 100%;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 90px;
}

#contact::before {
  content: "";
  background-image: radial-gradient(
    circle,
    rgb(138, 246, 217),
    rgb(0, 207, 196),
    rgb(0, 216, 205)
  );
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#contact .contact_us {
  text-align: center;
  font-size: 70px;
  text-shadow: 2px 2px 2px white;
  margin: 30px;
  font-family: sans-serif;
}
#contact form {
  margin: 0px 70px;
}
#contact .form-row {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#contact .form-row input {
  width: 176px;
  background-color: rgb(229, 226, 226);
  border: 2px solid white;
  border-radius: 5px;
  margin: 3px;
  padding: 8px;
  color: grey;
  font-size: 15px;
}
#contact .text-row {
  display: flex;
  justify-content: center;
  margin: 10px;
}
#contact .text-row textarea {
  width: 358px;
  background-color: rgb(229, 226, 226);
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px;
  color: grey;
  font-size: 15px;
  font-family: sans-serif;
}
#contact .btn {
  display: flex;
  justify-content: center;
}
#contact .btn button {
  width: 368px;
  background-color: black;
  border: 2px solid black;
  color: white;
  border-radius: 5px;
  padding: 7px;
  font-size: 18px;
  cursor: pointer;
}

/* Get Started Section */

#call-to-action {
  height: 100%;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  position: relative;
}
#call-to-action::before {
  content: "";
  background-image: radial-gradient(
    circle,
    rgb(0, 207, 196),
    rgb(0, 216, 205),
    rgb(138, 246, 217)
  );
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}
#call-to-action .container .get-started {
  text-align: center;
  font-size: 55px;
  text-shadow: 2px 2px 2px white;
  margin: 60px;
  font-family: sans-serif;
}
#call-to-action .container .eager-to-transform-your-business {
  color: white;
  word-spacing: 7px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 0px 100px;
  margin-bottom: 50px;
  font-family: "Manrope", sans-serif;
}
#call-to-action .container .button {
  text-decoration: none;
  display: block;
  margin: 20px auto;
  width: 120px;
  padding: 8px;
  text-align: center;
  border-radius: 5px;
  color: white;
  border: 2px solid black;
  background-color: black;
  font-family: sans-serif;
  margin-bottom: 40px;
}
#call-to-action .container .button:hover {
  box-shadow: 0px 0px 10px 4px white;
}
/* #call-to-action .popup{
    background-color:rgb(1, 179, 170);
    height:100%;
    position: relative;
    display:none;
    justify-content: center;
    align-items: center;
    margin-bottom:60px;
    margin:20px 70px;
    position: relative;

   
}

.popup .popup-content{
    height:385px;
    width:500px;
    padding:20px;
    margin-bottom:60px;
    border-radius: 10px;
    position: relative;
    background-color:white;
    box-shadow: 8px 8px 28px 3px black ;
}
input{
    display: block;
    margin:0px auto;
    width:60%;
    padding:8px;
    border-radius: 5px;
    border:2px solid rgb(229, 226, 226);
    background-color:  rgb(229, 226, 226);
}
.popup .popup-content #desig{
    display: block;
    color:grey;
    margin:20px auto;
    padding:8px;
    width:60%;
    background-color:  rgb(229, 226, 226);
    border:2px solid rgb(229, 226, 226);
    border-radius: 5px;
}
label{
    display:flex;
    justify-content: center;
    margin-bottom:20px;
    font-family: sans-serif;
    font-weight: bolder;
    
} 
button{
    display: block;
    margin:20px auto;
    width:60%;
    padding:8px;
    border-radius: 5px;
    color:white;
    border:2px solid black;
    background-color: black;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
}*/
/* Footer Section */
.footer {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}
.footer::before {
  content: "";
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.footer .footer-content {
  display: flex;
  justify-content: center;
}
.footer .footer-content .footer-nav {
  margin: 100px;
}
.footer .footer-content .footer-nav h4 {
  font-size: 35px;
  color: white;
  padding-bottom: 20px;
  font-family: sans-serif;
}
.footer .footer-content .footer-nav ul li {
  margin: 13px;
  list-style: none;
  text-align: center;
  font-size: 16px;
  font-family: "Manrope", "Manrope Placeholder", sans-serif;
}
.footer .footer-content .footer-nav ul li a {
  text-decoration: none;
  color: white;
}
.footer .footer-content .footer-contact {
  margin: 100px;
}
.footer .footer-content .footer-contact h4 {
  font-size: 35px;
  color: white;
  text-align: center;
  padding-bottom: 20px;
  font-family: sans-serif;
}
.footer .footer-content .footer-contact p {
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  color: white;
  font-family: "Manrope", "Manrope Placeholder", sans-serif;
}
.footer .footer-content .footer-social {
  margin: 100px;
}
.footer .footer-content .footer-social h4 {
  font-size: 35px;
  text-align: center;
  color: white;
  padding-bottom: 20px;
  font-family: sans-serif;
}
.footer .footer-content .footer-social ul li {
  margin: 13px;
  list-style: none;
  text-align: center;
  font-size: 18px;
  font-family: "Manrope", "Manrope Placeholder", sans-serif;
}
.footer .footer-content .footer-social ul li a {
  text-decoration: none;
  color: white;
}
.footer .footer-bottom {
  color: white;
  text-align: center;
  margin-bottom: 80px;
  font-family: "Manrope", "Manrope Placeholder", sans-serif;
}

.register-container {
  border: 2px solid white;
  background-color: white;
  box-shadow: 8px 8px 28px 3px black;
  margin: 100px auto;
  padding: 40px;
  width: 400px;
  height: 500px;
  border-radius: 20px;
}

.register-form input {
  font-family: "Edu SA Beginner", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(1, 179, 170);
  display: block;
  border-radius: 20px;
  width: 250px;
  margin: 20px auto;
  padding: 8px;
}

.register-container h1 {
  padding: 10px 10px;
  text-align: center;
  font-family: sans-serif;
}

.register-form .register-btn {
  display: block;
  width: 250px;
  margin: 30px auto;
  border-radius: 20px;
  padding: 8px 0px;
  border: none;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: black;
  font-family: "Manrope", sans-serif;
  cursor: pointer;
}
.register-form p {
  text-align: center;
  font-family: "Manrope", sans-serif;
}
.register-container p {
  text-align: center;
  font-family: "Manrope", sans-serif;
}
.register-container p a {
  text-decoration: none;
  color: rgb(1, 179, 170);
  font-size: 17px;
}

.login-container {
  border: 2px solid white;
  background-color: white;
  box-shadow: 8px 8px 28px 3px black;
  margin: 100px auto;
  padding: 40px;
  width: 400px;
  height: 450px;
  border-radius: 20px;
}

.login-form input {
  font-family: "Edu SA Beginner", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(1, 179, 170);
  display: block;
  border-radius: 20px;
  width: 250px;
  margin: 20px auto;
  padding: 8px;
}

.login-container h1 {
  padding: 10px 10px;
  text-align: center;
  font-family: sans-serif;
}

.login-form .login-btn {
  display: block;
  width: 250px;
  margin: 30px auto;
  border-radius: 20px;
  padding: 8px 0px;
  border: none;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: black;
  font-family: "Manrope", sans-serif;
  cursor: pointer;
}
.login-form p {
  text-align: center;
  font-family: "Manrope", sans-serif;
}
.login-container p {
  text-align: center;
  font-family: "Manrope", sans-serif;
}
.login-container p a {
  text-decoration: none;
  color: rgb(1, 179, 170);
  font-size: 17px;
}

#download h1 {
  margin-top: 0px;
  padding-top: 60px;
  text-align: center;
  font-size: 70px;
  text-shadow: 2px 2px 2px rgb(0, 223, 211);
}

#download p {
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 2em;
}

#download img {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding-top: 2em;
  width: 15em;
}
